@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "yecan",sans-serif;
}
@font-face {
    font-family: "yecan";
    src: url("/fonts/vazir-font-v16.1.0/Vazir.woff") format('wwf');
    font-weight: normal;
  font-style: normal;
 
  }


body {
  
  direction: rtl;

}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


.z-30-important {
  z-index: 9999!important;
}

.swiper-scrollbar {
  display: none;
}


